{% extends "base.html" %}
{% block content %}
<div class="container mt-3">

    <h3>Marks Detail of Student</h3>
    <h6>Name: {{name}}</h6>
    <h6>London Met ID: {{student_id}}</h6>
    <h6>Year Semester of Student: {{year_sem}}</h6>
    <table class="table mt-3">
        <thead class="thead-dark">
            <tr>
                {% for heading in headings %}
                <th scope="col">{{ heading }}</th>
               {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for key, values in sorted_marks.items %}
            <tr>
                <th scope="row">{{ key.get_week_display }}</th>
               {% for _, value in values %}
               <td>{{value}}</td>
               {% endfor %}
            </tr>
            {% endfor %}
           
        </tbody>
    </table>

</div>

{% endblock content %}